<li>
  <span class="content"><%= wrap(entry.content) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
  </span>
	<%= render '/shared/delete_items', entry: entry %>
</li>

